@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Shizuru&family=Supermercado+One&display=swap');

html {
    height: 100%;
}

body {
    background: linear-gradient(157.14deg, rgba(168, 227, 220, 0.47) 8.14%, rgba(173, 160, 210, 0.66) 49.9%, rgba(119, 135, 196, 0.63) 100%), #FFF7F4;
    /* background-position: 55% 30%; */
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}

.logo {
    font-family: 'Shizuru';
    color: #8E768A;
    font-size: 10vw;
    padding: 5%;
    padding-left: 43%;
    padding-bottom: 7%;
    background-image: url(./img/logo2.fw.png);
    background-repeat: no-repeat;
    background-position-x: 29%;
    background-position-y: 39%;
    background-size: 16%;
}

.box {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}

.boxTitle {
    z-index: 2;
    position: absolute;
    top: 19%;
    width: 18em;
    height: 2.7em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #686260;
    border-style: solid;
    border-width: 1px;
    background-color: #B2C0D9;
    text-align: center;
}

.title {
    height: 2.7em;
    top: -0.7em;
    position: absolute;
    font-size: 1.5em;
    font-family: 'Supermercado One';
    text-align: center;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    color: #3D274E;
    font-weight: bold;
}

.form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #ADDAD7 -16px 17px, #686260 -16px 17px 0px 1px;
    left: 0;
    right: 0;
    width: 18em;
    height: 28em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFEEE8;
    border-radius: 5px;
    border-color: transparent #686260 #686260;
    border-style: solid;
    border-width: 1px;
    align-content: center;

}


.cry {
    width: 35px;
    height: 35px;
    margin-left: -48px;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: -44%;
}


.eye,
.eye2 {
    width: 12%;
    height: 4%;
    cursor: pointer;
    top: -1.4em;
    left: 6.3em;
    position: relative;
    z-index: 2;
}

.eye2 {
    top: -2.4em;
}


.input,
.input2,
.input3,
.input4 {
    position: relative;
    font-family: 'Inconsolata';
    font-size: 117%;
    text-align: left;
    height: 8%;
    width: 91%;
    margin: 3%;
    border-radius: 2px;
    border: 1px solid #686260;
    background-color: transparent;
}

.input,
.input2 {
    position: relative;
    top: 3%;
}

.btn {
    position: relative;
    font-family: 'Inconsolata';
    font-size: 1.2em;
    text-align: center;
    height: 2.2em;
    width: 13.7em;
    color: #3D274E;
    background-color: #B2C0D9;
    border: 1px solid #686260;
    border-radius: 18px;
    margin: 2% 1% 2% 1%;
    font-weight: bold;
    cursor: pointer;
    line-height: 19px;
    letter-spacing: -0.3px;
}

.btn:hover {
    color: #DDCFE7;
    background-color: #5C446D;
    border: 1px solid #ADDAD7
}

.btnGoogle {
    padding-left: 13%;
}

.btn2 {
    position: relative;
    font-family: 'Inconsolata';
    font-size: 1.2em;
    text-align: center;
    height: 2em;
    width: 12em;
    color: #ADDAD7;
    background-color: #5C446D;
    border: 1px solid #ADDAD7;
    border-radius: 2px;
    margin: 2% 1% 2% 1%;
    font-weight: bold;
    cursor: pointer;
}

.btn2:hover {
    color: #5C446D;
    background-color: #ADDAD7;
    border: 1px solid #5C446D;
}

.warning

/*.validMail, .noCoincidence*/
    {
    top: 14%;
    position: absolute;
    color: #5C446D;
    text-align: center;
    font-family: 'Inconsolata';
    font-weight: bold;


}



.a {
    padding: 4%;
    border: 1px solid #5C446D;
    border-style: dashed;
    border-radius: 8px;
    text-decoration: none;
    /* width: 40%; */
    /* height: 5%; */
    text-align: center;
    cursor: pointer;
    font-family: 'Inconsolata';
    font-weight: bolder;
    color: #5C446D;
    font-size: 1.2em;
    top: 86%;
    position: absolute;
    color: #3D274E;
}

.a:hover {
    background-color: #5C446D;
    border: 1px solid #daf5f3;
    color: #daf5f3;
}

.icono {
    width: 12%;
    margin-bottom: 20%;
    position: absolute;
    left: 2%;
    top: 14%;
}

/* Estructura home */

.homeContent {
    display: flex;
    justify-content: center;
}

.homeCont {
    display: flex;
    justify-content: center;
}

.homeHead {
    background-color: #B3C5E7;
    width: 100%;
    height: 15%;
    z-index: 1;
    position: fixed;
    margin: auto;
    box-shadow: 1px 1px 5px black;
    top: 0;
}

.homeLogo {
    width: 50%;
    z-index: 1;
    margin-right: 50px;

}

.logout {
    background-image: url(./img/logout.png);
    background-color: transparent;
    border: transparent;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    top: 31%;
    left: 85%;
}

.anuncio {
    color: #5C446D;
    font-family: 'Inconsolata';
    font-weight: 900;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 16em;
    height: 15em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.aviso {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 16em;
    height: 15em;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.contPost {
    background-color: #FFEEE8;
    margin-top: 7em;
    width: 90%;
    height: 18%;
    position: fixed;
    border: solid 1px #3D274E;
    border-radius: 5px;

}

.userProfile {
    background-image: url('./img/userProfile.png');
    background-size: 87%;
    background-repeat: no-repeat;
    width: 23%;
    height: 60%;
    position: absolute;
    top: 6%;
    left: 1%;
    background-position: center;
}

.post {
    border: solid 1px #3D274E;
    border-radius: 5px;
    position: relative;
    width: 70%;
    height: 54%;
    z-index: 100;
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 18px;
    top: 9%;
    left: 25%;
    color: #3B274B;
    background-color: #FFFAF8;
}

.arrowPost {
    background-image: url('./img/arrowPost.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: transparent;
    width: 10%;
    height: 18%;
    position: absolute;
    cursor: pointer;
    top: 74%;
    left: 87%;
}

#editButton {
    display: none;
    font-family: 'Inconsolata';
    position: relative;
    top: 15%;
    margin-left: 41%;
    margin-right: auto;
    background-color: transparent;
    border: 1px solid #5C446D;
    border-style: dashed;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    color: #5C446D
}

.contentPost {
    display: grid;
    width: 90%;
    height: 62%;
    margin-top: 246px;
    z-index: -5;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: scroll;
    border-radius: 5px;
}

.posteo {
    background-color: #FFEEE8;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #3B274B;
    margin: 0%;
    border-top: 1px solid #686260;
    border-left: 1px solid #686260;
    border-right: 1px solid #686260;
    box-sizing: border-box;
    padding: 1em;
    word-wrap: break-word;
}
.nameUser, .posteo, .barra{
    width: 100%;
}

.nameUser {
    background-color: #B2C0D9;
    border: 1px solid #686260;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    height: 100%;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 2px;
    text-align: center;
    color: #3D274E;
    padding: 1em;
    word-wrap: break-word;
}

.barra{
background-color: #D9D7E1;
border: 1px solid #686260;
box-sizing: border-box;
border-radius: 0px 0px 5px 5px;
height: 30px;
margin-bottom: 20px;
}

.like{
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background: #3B274B;
  position: relative;
  top: 10px;
  left: 10px;
}

.like:before,
.like:after {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #3B274B;
  position: absolute;
}

.like:before {
  top: 0;
  left: -4px;
}

.like:after {
  top: -4px;
}

.editPost{
font-family: 'Inconsolata';
position: relative;
left: 220px;
top: -20%;
background-color: transparent;
border: transparent;
}
.deletePost{
font-family: 'Inconsolata';
position: relative;
left: 200px;
top: -20%;
background-color: transparent;
border: transparent;
}
/* color de fondo 255 247 244  */

/* mediaquerys */
/* small laptop 1024 x 600 */

@media screen and (min-width: 800px) {

    /* body{
        background: linear-gradient(157.14deg, rgba(168, 227, 220, 0.47) 8.14%, rgba(173, 160, 210, 0.66) 49.9%, rgba(119, 135, 196, 0.63) 100%), #FFF7F4;
    } */
    .logo {
        font-size: 6vw;
        padding-top: 0%;
        padding-bottom: 2%;
        background-position-x: 40%;
        background-position-y: 37%;
        background-size: 8%;
        padding-left: 46%;
    }

    .title {
        height: 2.7em;
        top: -0.7em;
    }

    .form {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        box-shadow: #addad7 -22px 23px, #686260 -22px 23px 0px 1px;
        left: 0;
        right: 0;
        width: 40em;
        height: 30em;
        display: flex;
        justify-content: center;
        background-color: #FFEEE8;
        border-radius: 5px;
        border-color: transparent #686260 #686260;
        border-style: solid;
        border-width: 1px;
        align-content: center;
    }

    .box {
        position: absolute;
        left: 0;
        right: 0;
        top: 191px;
    }

    .boxTitle {
        /* top: 18%; */
        width: 40em;
        height: 3em;
        display: flex;
        align-items: center;
    }

    .warning,
    .validMail,
    .noCoincidence {
        top: 13%;
        position: absolute;
        color: #5C446D;
        text-align: center;
        font-family: 'Inconsolata';
    }

    .eye,
    .eye2 {
        width: 7%;
        height: 4%;
        top: 4.2em;
        left: -4.7em;
        z-index: 2;
    }

    .eye2 {
        top: 2.1em;
        left: -3.7em;
    }

    .input {
        position: relative;
        font-family: 'Inconsolata';
        font-size: 117%;
        text-align: left;
        height: 9%;
        width: 70%;
        margin: 3%;
        border-radius: 2px;
        border: 1px solid #686260;
        background-color: transparent;
        top: 7%;

    }

    .input2 {
        height: 9%;
        width: 70%;
        margin-left: 10%;
        top: 7%;

    }

    .input3,
    .input4 {
        position: relative;
        font-family: 'Inconsolata';
        font-size: 117%;
        text-align: left;
        height: 9%;
        width: 70%;
        margin: 3%;
        border-radius: 2px;
        border: 1px solid #686260;
        background-color: transparent;
    }

    .input4 {
        left: 3.5%;
    }

    .btn {
        top: 4%;
        height: 2.3em;
        width: 13.7em;
        margin-left: 29%;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-bottom: auto;
    }

    /* #btnCrear{
       left: -3%;
   } */

    .a {
        border-style: none;
        margin-top: -0.5%;
        font-size: 1em;
    }

    .a:hover {
        border-style: none;
        background-color: transparent;
        border: 0px solid #daf5f3;
        color: #f72bc4;

    }

    #a {
        top: 90%;
    }

    .icono {
        width: 8%;
        margin-bottom: 20%;
        position: absolute;
        left: 2%;
        top: 14%;
    }

    .homeHead{
        height: 22%;
    }
    .logout{
        width: 60px;
        height: 60px;
        top: 35%;
        left: 92%;
    }
    .contPost{
        margin-top: 12em;
        width: 60%;
        height: 25%;
    }

    .userProfile{
        background-size: 18%;
        width: 59%;
        height: 73%;
        top: -1%;
        left: -20%;
    }

    .post{
        width: 76%;
        left: 18%;
    }

    .contentPost{
        margin-top: 415px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        position: absolute;
        width: 59%;
        height: 46%;
    }

    .nameUser, .posteo, .barra{
        width: 100%;
    }
    .deletePost{
        left: 92%;
        font-size: 16px;
    }
    .editPost{
        left: 77%;
        font-size: 16px;
    }
    .like{
        left: 20px;
        width: 10px;
        height: 10px;
    }
      .like:before,
      .like:after {
        height: 10px;
        width: 10px;
      }
      .like:before {
        left: -6px;
      }
      .like:after {
        top: -6px;
      }
      #editButton{
        font-size: 20px;
      }
}