@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */
* {
  box-sizing: border-box;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

 
/* @media only screen and (min-width: 768px) { */
  /* For desktop:  */
  .col-1 {grid-column: span 1;}
  .col-2 {grid-column: span 2;}
  .col-3 {grid-column: span 3;}
 .col-4 {grid-column: span 4;}
  .col-5 {grid-column: span 5;}
  .col-6 {grid-column: span 6;}
  .col-7 {grid-column: span 7;}
  .col-8 {grid-column: span 8;}
  .col-9 {grid-column: span 9;}
  .col-10 {grid-column: span 10;}
  .col-11 {grid-column: span 11;}
  .col-12 {grid-column: span 12;}
 /*} */

.logo {
  width: 75%;
  max-width: 600px;
  margin: auto;
  place-items: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  .logo {
    margin-top: 10%;
    margin-bottom: 10px;
    max-width: 35%;
  }
 
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 10px;
  place-items: center;
}

.signInMain{
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


.signIn-container{
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  margin: auto;
}

input {
  width: 100%;
  height: 0,2em;
  background: #EFF9FB;
  margin-bottom: 1rem;
  color: #4285F4;
  border-radius: 4px;
  border: 1px solid #4285F4;
  padding: .4rem;
 }

.primary{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #97E128;
  border-radius: 4px;
  border: 1px solid #97E128;
  color: white;
  padding: .4rem;
}

.primary2{
  margin-bottom: 1rem;
  width: 100%;
  background-color: #2F8DFA;
  color: white;
  border-radius:4px;
  border: 1px solid #2F8DFA;
  background-image: url(images/Google.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding: .4rem;
  }

#form-SignUp{
display: grid;
grid-template-columns: repeat(1, 18rem);
grid-template-rows: repeat(3, 4rem) 3rem 4rem;
row-gap: 1rem;
align-items: center;
justify-content: center;
margin: 2rem auto;
margin-top: 7rem;
  }

.muro-grid{
width: 100vw;
display: grid;
grid-template-columns: repeat(12, 1fr);
}

.element-1{
  grid-column:1/12;
  grid-row: 1;
  align-self:start;
  background-color: #2F8DFA;
  width: 100vw;
  height: 7vh;
}
.muro-grid > img{
  grid-column:5;
  grid-row: 2;
  justify-self: center;
  height: 28vh;
}

.muro-grid > .posts-main{
  grid-column:5;
  grid-row: 3;
  justify-self: center;
  margin-top: 3em; 
  margin-left: 1em;
}

.textareaT{
  max-height: 41px;
  border-radius: 0.5em;
  border: 1px solid #a628e1;
  }

  .textareaD{
  max-height: 120px;
  border-radius: 0.5em;
  border: 1px solid #a628e1;
  }

.enviarMsj{
  grid-column: 5;
  background-color: #a628e1;
  border-radius: 4px;
  border: 1px solid #a628e1;
  color: white;
}

.muro-grid > .salir{
 justify-self: end;
 align-self:center;
  grid-row: 1;
  background-color: #97E128;
  border-radius: 4px;
  border: 1px solid #97E128;
  color: white;
}

.muro-grid > .containerpost {
  grid-column: 5;
  grid-row:4;
  border-color: #a628e1;
}


